.div-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.title-text{
    display: inline-flex;
}

.title{
    font-family: Work Sans;
    font-size: 100px;
    padding-left: 10px;
}

.title-image{
    display: inline; 
    overflow: hidden;   
}

.dimitri-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 10px;
    object-fit: cover;
    object-position: center;
}

.languages-list,
.languages-title{
    font-family: Work Sans;
    font-weight: 400, 300;
    color: rgba(0, 0, 0, 0.9);
}

ul{
    font-family: Work Sans;
}

p{
    font-family: Work Sans;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);

}